---
title: Mapa
layout: map
---

{% for post in site.posts %}
	{% if post.type == "spot" or post.type == "tale" %}
		<img
			id="{{ post.slug }}"
			class="spot"
			src="./assets/icon/{{ post.type }}.svg"
			style="left:{{ post.locationX }}px;top:{{ post.locationY }}px"
			onclick="onOpenModal(event.target.id)"
			onmouseover="spotEnter(event,'{{ post.title }}')"
			onmouseout="spotLeave(event)"
		/>
	{% elsif post.type == "region" %}
		<div
			class="regions"
			style="left:{{ post.locationX }}px;top:{{ post.locationY }}px;width:{{ post.sizeX }}px;height:{{ post.sizeY }}px;"
		>
			<img 
				id="img-{{ post.slug }}" 
				src="./assets/img/blank.png" 
				usemap="#map-{{ post.slug }}" 
				class="level"
				style="width:{{ post.sizeX }}px;height:{{ post.sizeY }}px;" 
			/>
			<map name="map-{{ post.slug }}">
				{% for coord in post.coords %}
					<area
						id="{{ post.slug }}" 
						shape="poly" 
						coords="{{ coord }}"
						onclick="onOpenModal(event.target.id)"
						onmouseover="spotEnter(event, '{{ post.title }}')"
						onmouseout="spotLeave(event)"						
					/>
				{% endfor %}
			</map>
		</div>
	{% endif %}
{% endfor %}