<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>{{ page.title | append: " | "  }} {{ site.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <meta name="description" content="Visualização de mapa com pontos de interesse e posicionamento de artigos">
    <meta name="og:image" content="https://johnywalves.github.io/wolt/assets/img/thumbnail.png">
</head>