---

---
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
</head>

<body>
	<div class="map-viewport">
		<div id="map" style="left:-179px;top:-1314px;">
			<img src="./assets/img/map.png" />
			{{ content }}
		</div>
	</div>
	<div id="title"></div>
	<div id="info"></div>
</body>
<script type="text/javascript">
	var active = false, xPrev, yPrev;
	var mapDiv = document.getElementById('map');
	var titleDiv = document.getElementById("title");

	window.addEventListener('mousedown', mouseDown, false);
	window.addEventListener('mousemove', mouseMove, true);
	window.addEventListener('mouseup', mouseUp, false);

	function mouseDown(e) {
		e.preventDefault();
		xPrev = e.clientX;
		yPrev = e.clientY;
		active = true;
	}
	function mouseMove(e) {
		if (active) {
			var x = parseInt(mapDiv.style.left.split("px").join("")) + (e.clientX - xPrev);
			if (x < 0)
				mapDiv.style.left = x + 'px';

			var y = parseInt(mapDiv.style.top.split("px").join("")) + (e.clientY - yPrev);
			if (y < 0)
				mapDiv.style.top = y + 'px';

			//console.log('#############');
			//console.log('location: ' + x + ', ' + y);
			//console.log('size: ' + window.innerWidth + ', ' + window.innerHeight);
		}
		xPrev = e.clientX;
		yPrev = e.clientY;
	}
	function mouseUp(e) {
		active = false;
	}

	function onClick(e) {
		document.getElementById("info").style.display = "block";

		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("info").innerHTML = this.responseText;
			}
		};
		xhttp.open("GET", e.target.id + '.html', true);
		xhttp.send();
	}
	function onClose(e) {
		document.getElementById("info").style.display = "none";
	}

	function inSpot(e, title) {
		titleDiv.style.display = "block";
		titleDiv.innerText = title;

		if (document.getElementById("img-" + e.target.id))
			document.getElementById("img-" + e.target.id).src = "./assets/img/" + e.target.id + ".png";
	};
	function outSpot(e) {
		titleDiv.style.display = "none";

		if (document.getElementById("img-" + e.target.id))
			document.getElementById("img-" + e.target.id).src = "./assets/img/blank.png";
	};
</script>
{% include footer.html %}

</html>