{% include head.html %}

<body class="map">
	<div class="map-viewport">
		<div id="map" style="left:-179px;top:-1314px;">
			<img src="./assets/img/map.png" />
			{{ content }}
		</div>
	</div>
	<div id="label"></div>
	<div id="modal">
		<i class="fas fa-spinner loading"></i>
		<div class="content">
			<div class="header">
				<a href="{{ site.baseurl }}/{{ post.slug }}.html">
					<i class="fas fa-expand-arrows-alt spot icon"></i>
				</a>
				<i class="fas fa-times spot icon" onClick="onCloseModal()"></i>
			</div>
			<article></article>
		</div>
	</div>
</body>

<script src="./assets/js/scripts.js"></script>

<div style="display: none">
	{% for post in site.posts %}
	{% if post.type == "region" %}
	<img src="./assets/img/{{ post.slug }}.png" />
	{% endif %}
	{% endfor %}
</div>

</html>